:root,
    :root.green {
        --primary-color:  rgb(36, 78, 36);
        --secondary-color: #54a754;
    }
    :root.blue {
        --primary-color:  rgb(33, 30, 77);
        --secondary-color: #7391b9;
    }
    :root.red {
        --primary-color:  rgb(77, 30, 30);
        --secondary-color: #b92e2e;
    }
    :root.yellow {
        --primary-color:  rgb(124, 114, 43);
        --secondary-color: rgb(210, 220, 103);
    }


html, body {
    height: 100%;
}

body {
    color: white;
    font: 1em sans-serif;
    
    height: 100%;
    display: grid;
    grid-template-rows: 8% auto 8%;
    grid-template-columns: auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
    margin: 0px;
}

header {
    background-color: #2a2929;
    grid-area: header;
}

main {
    background-color: #403f3f;
    grid-area: main;
    display: grid;
    
    place-content: center;
    grid-template-columns: 10% auto 10%;

}

footer {
    background-color: #2a2929;
    grid-area: footer;
}

a {
    text-decoration: none;
    color: white;
}

#calc-body {
    background-color: #2a2929;;
    width: 300px;
    height:500px;
    border-color: rgb(28, 28, 28);
    border-style: solid ;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);    
    margin-top: 30px;
    padding: 20px;
}


#calc-screen {
    height: 120px;
    margin-top: 15px;
    margin-bottom: 50px;
}

#calc-screen-upper {
    background-color:  var(--primary-color);
    height: 40%;
    border-width: 3px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-style: solid;

    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
    font-family: monospace;
    font-size: 25px;
   
}

#calc-screen-lower {
    background-color:  var(--primary-color);
    height: 60%;
    border-width: 3px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: solid;
    margin-top: -3px ;

    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
    font-family: monospace;
    font-size: 30px;
}

#calc-buttons {
    aspect-ratio: 1/1;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;

}

.calc-button {
    color: #ffffff;;
    font-size: 20px;
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    font-family: monospace;
    border: 2px solid var(--primary-color);;
    border-radius: 5px; 
}

#calc-button-eq {
    width: 282px;
    grid-column: 1 / span 5;
    margin-left: 231px;
}

.calc-button:hover {
    background: var(--secondary-color);
    border-color: #403f3f;
    border: 2px solid;

}

.calc-button:active {
    background:var(--primary-color);
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--secondary-color);
}

.nav-item {
    margin: 5px;
    list-style-type: none;
}

#color-container{
    width: 120px;
    margin-top: 30px;
    margin-left: 60px;
}

#color-selector{
    height: 50px;
    width: 120px;
    color: white;
    background-color:  #2a2929;;;
    border-radius: 5px;
    border-width: 0px;
    border-color: var(--primary-color);
    text-align: center;

    font-size: 15px;
}